body {
    background-image: url(../images/read1.jpeg);
    background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px 1080px;
}

#avatar {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    align-content: center;
}

nav {
    opacity: 1;
    border-bottom: solid 2px grey;
}

.card {
    opacity: 0.9;
}

#register {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 17px;
}

#userInfo {
    margin-bottom: 15px;
}

